[Desktop Entry]
Version=1.0
Type=Application
Name=2500K
Comment=
Exec=sh -c "gummy start & gummy -t 2500"
Icon=redeyes
Path=
Terminal=false
StartupNotify=false
