[Desktop Entry]
Version=1.0
Type=Application
Name=Rofi Power menu
Comment=
Exec=sh -c "$HOME/.config/rofi/scripts/powermenu_t3"
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
