.dotfiles
.cache
.config/xfce4/desktop
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml 
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-manager.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-taskmanager.xml
.config/xfce4-dict/
.config/dconf
.config/gtk-3.0
.config/keepassxc
.config/libreoffice
.config/nvim/lazy-lock.json
.config/pulse
.config/syncthing
.config/lazygit
.config/QtProject.conf
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Slack
.config/Pd
.config/gpick
.config/htop
.config/systemd/user
.config/neofetch
.config/ristretto
.local/share/Trash
.local/share/flatpak
.local/share/gvfs-metadata
.local/share/keyrings
.local/share/orca
.local/share/nvim/lazy
.local/share/recently-used.xbel
.local/share/docker
.local/state/nvim/lazy/readme/doc/
.local/state/nvim/shada
.local/state/nvim/dapui.log
.local/state/nvim/log
.local/state/gummyd
.mozilla/
.ssh
.var/app/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.dmrc
.face
.face.icon
.gitconfig
.histfile
.lesshst
.wget-hsts
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-WIL-LP-win-5.9
.zcompdump-WIL-LP-win-5.9.zwc
.zsh_history
VirtualBox
.docker
.oh-my-zsh
.pki
Desktop
Documents
Downloads
Pictures
VirtualBox_VMs
.pdsettings
**/*.bak
.sudo_as_admin_successful
**/*.swp
.python_history
.scripts/toggle_dark_light/dark_mode_active
TLPUI
tlpui
dev
touchegg
nvim/lazy-lock.json
