.dotfiles
.cache
.config/dconf
.config/gtk-3.0
.config/keepassxc
.config/libreoffice
.config/nvim/lazy-lock.json
.config/pulse
.config/syncthing
.config/lazygit
.config/QtProject.conf
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Slack
.local/share/Trash
.local/share/flatpak
.local/share/gvfs-metadata
.local/share/keyrings
.local/share/orca
.local/share/nvim/lazy
.local/share/recently-used.xbel
.local/state/nvim/lazy/readme/doc/
.local/state/nvim/shada
.local/state/nvim/dapui.log
.local/state/nvim/log
.mozilla/
.ssh
.var/app/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.dmrc
.face
.face.icon
.gitconfig
.histfile
.lesshst
.wget-hsts
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-WIL-LP-win-5.9
.zcompdump-WIL-LP-win-5.9.zwc
.zsh_history
