[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Reduce Touchpad Scrollspeed
Comment=
Exec=sh -c "$HOME/.scripts/reduce_touchpad_scrollspeed.sh"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

