[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Touch screen mapper
Comment=map touchscreen input to internal display only
Exec=sh -c "$HOME/.scripts/map_touch_to_internal_display.sh"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

