//@theme "/home/dear/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/dear/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/dear/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/dear/.local/share/rofi/themes/launchpad.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
//@theme "/home/dear/.local/share/rofi/themes/launchpad.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
@theme "/home/dear/.local/share/rofi/themes/launchpad.rasi"
