/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #222D32FF;
    background-alt: #29353BFF;
    foreground:     #B8C2C6FF;
    selected:       #9c27b0FF;
    active:         #3bb027FF;
    urgent:         #b0273bFF;
}
